#top-page table{
	margin: auto;
	padding-right: 60px;
}
#top-page{
	background-color: black;
	color: white;

}
#top-page h1{
	padding-top: 10px;
	font-size: 15px;
	text-align: left;
}
p{
	font-size: 13px;
	color: #666;
	text-align: center;
}
.abc{
	font-size: 4em;
}
.td{
	border-right: 1px solid #666;
}
#box-page{
	box-shadow: 0px 0px 3px 3px #666;
	background-color: #fff;
}
.google{
	background-color: pink;
	color: black;
}
b{
	font-size: 13px;
}
.star{
	color: #e7a946;
}
h5{
	font-size: 20px;
	color: #e04b44;
}
.lag{
	font-size: 2em;
}
h4{
	font-size: 15px;
	color: #666;
}
#the:hover{
	box-shadow: 0px 0px 3px 3px #666;
}
#mid-page{
	background-color: #f2f2f2;
	text-align: center;
}
#footer{
	background-color: #fff;
}
#footer p{
	text-align: left;
}
